<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">O Equipamento de Proteção Individual - EPI é todo dispositivo ou produto, de uso individual utilizado pelo trabalhador, destinado a proteção contra riscos capazes de ameaçar a sua segurança e a sua saúde.
        O uso deste tipo de equipamento só deverá ser feito quando não for possível tomar medidas que permitam eliminar os riscos do ambiente em que se desenvolve a atividade, ou seja, quando as medidas de proteção coletiva não forem viáveis, eficientes e suficientes para a atenuação dos riscos e não oferecerem completa proteção contra os riscos de acidentes do trabalho e/ou de doenças profissionais e do trabalho.          
        Os equipamentos de proteção coletiva - EPC são dispositivos utilizados no ambiente de trabalho com o objetivo de proteger os trabalhadores dos riscos inerentes aos processos, tais como o enclausuramento acústico de fontes de ruído, a ventilação dos locais de trabalho, a proteção de partes móveis de máquinas e equipamentos, a sinalização de segurança, dentre outros.</mat-card-subtitle>

        <span>
            <img src="assets/img/logo1.png" alt="">
        </span>
    </mat-card>


